<template name="mediaItems">
	<nav class="navbar navbar-default" role="navigation">
	  	<div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <a class="navbar-brand" href="//brinkleyrushton.com">Gallery</a>
		      <a class="navbar-brand" href="/sign-out">Sign-Out</a>
		    </div>
		</div>
	</nav>
    <div id="images" class="container">
    	<div class="row input-file-row">
			<div class="col-md-6 col-md-offset-3">
			    <span class="btn btn-file btn-primary">
			    	<i class="glyphicon glyphicon-upload"></i>
				    Upload Images <input id="fileInput" type="file" multiple="multiple">
				</span>
			</div>
			
    	</div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div id="media-list">
                    {{#each mediaItems}} {{>mediaItem}} {{/each}}
                </div>
            </div>
        </div>
    </div>

    {{>modifyModal}}
</template>


<template name="mediaItem">
    <div class="media-item" media-id="{{_id}}">
        <div class="row">
            <div class='col-sm-1 handle'>
                <i class="glyphicon glyphicon-chevron-up"></i>
                <i class="glyphicon glyphicon-align-justify"></i>
                <i class="glyphicon glyphicon-chevron-down"></i>
            </div>
            <div class="col-sm-3">
            	{{#with image}}
            	{{#if url store="thumbnail"}} {{! if we have a url to the thumbnail store we will display the image}}
                    <div class="thumbnail" style="background-image:url('{{url store="thumbnail"}}')" thumbnail_src="{{url store="thumbnail"}}" full_size_src="{{url store="master"}}" meta_width="{{metadata.width}}" meta_height="{{metadata.height}}"></div>

				{{else}} {{! Since we are do not have a url lets show a placeholder image}}
			        <img class="loading-animation" src="/uploading_processing_bw.gif">{{#unless isUploaded}} {{! If we haven't fully uploaded the file yet show the progress}}
			        <p class="uploadProgress">uploading...</p>
		        {{else}} {{! Since we have a fully uploaded file but the store hasn't finished processing yet, we will display a processing message. }}
		        <p class="uploadProgress">processing...</p>
		        {{/unless}} {{/if}} {{/with}}
            </div>
            <div class="media-body col-sm-6">
                <h4 class="media-heading">{{title}}</h4>
                <p>{{description}}</p>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-info edit-image row-buttons" data-toggle="modal" data-target="#myModal" media-id="{{_id}}">Edit</button>
                <button type="button" class="btn btn-danger delete-image row-buttons" media-id="{{_id}}">Delete</button>
            </div>
        </div>
    </div>
</template>

