<template name="navigationBar">
    <nav class="navbar navbar-default " role="navigation">
        <div class="container-fluid">
            <div class="navbar-header admin-header">
                <a class="navbar-brand admin-header-item" href="//brinkleyrushton.com">Gallery</a>
                <a class="navbar-brand admin-header-item" href="/">Admin</a>
                <a class="navbar-brand admin-header-item" href="/trash">Trash</a>
                <a class="navbar-brand admin-header-item sign-out-header" href="/sign-out">Sign-Out</a>
            </div>
        </div>
    </nav>
</template>